.home__promotion {
  min-height: 480px;
  position: fixed;
  top: 80px;
  box-sizing: border-box;
  z-index: 0;
  width: 100%;
}
.home__background-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.home__background-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
