.horizontal-list {
  margin-top: 30px;
}
.horizontal-list-container {
  width: 100%;
}
.horizontal-list__header {
  margin-bottom: 10px;
  text-align: left;
}
.horizontal-list__title {
  font-size: 20px;
  font-weight: 700;
}
.horizontal-list__scroll-bar {
  padding-right: 30px;
  height: 1px;
  background-color: #d7d7d7;
}
.scroll-bar {
  margin: 10px 0 20px 0;
}
.horizontal-list__scroll-bar__bar {
  position: relative;
}
.horizontal-list__scroll-bar__cursor {
  -webkit-transition: left 0.5s cubic-bezier(0.74, 0, 0.35, 0.96);
  transition: left 0.5s cubic-bezier(0.74, 0, 0.35, 0.96);
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #000;
  opacity: 0.9;
}
.horizontal-list__list {
  display: inline-block;
  width: 100%;
  position: relative;
}
.horizontal-list__container {
  overflow: hidden;
}
.horizontal-list__scroll {
  white-space: nowrap;
  flex-wrap: nowrap;
  padding: 0 0 10px;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.74, 0, 0.35, 0.96);
  transition: -webkit-transform 0.5s cubic-bezier(0.74, 0, 0.35, 0.96);
  transition: transform 0.5s cubic-bezier(0.74, 0, 0.35, 0.96);
  transition: transform 0.5s cubic-bezier(0.74, 0, 0.35, 0.96), -webkit-transform 0.5s cubic-bezier(0.74, 0, 0.35, 0.96);
}
.horizontal-list__card-container {
  padding: 0 5px;
  height: 100%;
}
.horizontal-list__food-card {
  text-align: left !important;
  width: 100%;
  height: 100%;
}
.horizontal-list__image {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}
.horizontal-list__image > * {
  display: inline-block;
}
.horizontal-list__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.horizontal-list__item-label {
  position: absolute;
  font-size: 15px;
  padding: 4px 8px;
  border-radius: 20px;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
  background-color: #000;
  color: #f5f5f5;
  opacity: 0.85;
}
.horizontral-list__item-info-card {
  flex-grow: 1;
  flex-wrap: nowrap;
  padding: 5px 4px;
  width: 100%;
  box-sizing: border-box;
}
.horizontal-list__item-info-list__title {
  font-size: 18px;
}
.horizontal-list__item-sub-title {
  font-size: 15px;
}
.horizontal-list__item-sub-title > * {
  display: inline-block;
}
.horizontal-list__item-sub-title-main {
  color: #026764;
  text-decoration: none;
}
.horizontal-list__item-sub-title-sub {
  color: #696969;
  text-decoration: none;
}
.horizontal-list__item-sub-title-sub > * {
  display: inline-block;
}
.horizontal-list__item-sub-title-sub:before {
  content: " . ";
}
.orizontral-list__item-info-extra {
  font-size: 14px;
}
.horizontral-list__item-info-tag {
  display: inline-block;
  margin: 1px;
  padding: 2px;
}
.horizontral-list__item-info-light {
  background-color: #f5f5f5;
}
.horizontral-list__item-info-dark {
  background-color: #d7d7d7;
}
.horizontral-list__item-info-green {
  color: #026764;
}
.control-container {
  position: absolute !important;
  top: 0 !important;
  display: flex !important;
  height: 100% !important;
  width: 65px !important;
  align-items: center !important;
}
.control-container > .Mui-disabled {
  opacity: 0;
}
.next {
  right: -65px !important;
}
.prev {
  left: -65px !important;
}
.rec-slider-container {
  overflow: inherit !important;
  margin: 0px !important;
}
.control {
  border-radius: 50% !important;
  background-color: #026764 !important;
  color: #fff !important;
  padding: 8px !important;
  display: inline-block;
  -webkit-animation-name: bounce-in;
  animation-name: bounce-in;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: cubic-bezier(0.53, 0.72, 0.81, 0.31);
  animation-timing-function: cubic-bezier(0.53, 0.72, 0.81, 0.31);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  min-width: auto !important;
  line-height: 0 !important;
  z-index: 1;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.show {
  animation-name: bounce-out;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes bounce-in {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.prev .control {
  position: absolute;
  right: -50%;
}
.next .control {
  position: absolute;
  left: -50%;
}
